# Node modules
node_modules/

# Environment files
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build / dist
dist/
build/

# IDE/editor settings
.vscode/
.idea/

# Database files
*.sqlite
*.db